<div class="w3-container w3-light-grey">
    <h1>Customer by ID #{{getCustCtrl.customer.ID}}:</h1>
</div>

<form ng-submit="getCustCtrl.showEdit = false; getCustCtrl.getCustomer()">
    <input type="number" ng-model="getCustCtrl.id" placeholder="Insert customer ID" min="1" required/>
    <input type="submit" value="Get Customer"/>
</form>

<div>
    <div ng-show="getCustCtrl.showTable">
	    <table>
	        <tr>
	            <th align="left">Customer Name: </th>
	            <td>{{getCustCtrl.customer.custName}}</td>
	        </tr>
	        <tr>
	            <th align="left">Password: </th>
	            <td>{{getCustCtrl.customer.password}}</td>
	        </tr>
	    </table>

	    <button ng-click="getCustCtrl.showEdit = true; getCustCtrl.showTable = false">EDIT</button>
	    <button ng-click="getCustCtrl.deleteCustomer()">Delete</button>  <span>{{getCustCtrl.deleteMessage}}</span>
    </div>

    <div ng-show="getCustCtrl.showEdit">
        <form ng-submit="getCustCtrl.updateCustomer()" style="margin-left:2%; margin-top:2%">
            Name:<br>
            <span style="color:grey" margin="0" padding="0">{{getCustCtrl.customer.custName}}</span><br>
            Password:<br>
            <input type="password" ng-model="getCustCtrl.customer.password" required><br>
            <br>
            <input type="submit" value="Update">  <span>{{getCustCtrl.editMessage}}</span>
        </form>
    </div>
</div>