<div class="w3-container w3-light-grey">
    <h1>Coupon by ID #{{getCoup.coupon.ID}}:</h1>
</div>

<form ng-submit="getCoup.showEdit = false; getCoup.getCoupon()">
    <input type="number" ng-model="getCoup.id" placeholder="Insert coupon ID" min="1" required/>
    <input type="submit" value="Get Coupon"/>
</form>

<div>
	<div>
	    <div ng-show="getCoup.showCoupon">
		    <table>
		        <tr>
		            <th align="left">Title: </th>
		            <td>{{getCoup.coupon.title}}</td>
		        </tr>
		        <tr>
		            <th align="left">Type: </th>
		            <td>{{getCoup.coupon.type}}</td>
		        </tr>
		        <tr>
		            <th align="left">ID: </th>
		            <td>{{getCoup.coupon.ID}}</td>
		        </tr>
		        <tr>
		            <th align="left">Price: </th>
		            <td>{{getCoup.coupon.price}}</td>
		        </tr>
		        <tr>
		            <th align="left">Amount: </th>
		            <td>{{getCoup.coupon.amount}}</td>
		        </tr>
		        <tr>
		            <th align="left">Start Date: </th>
		            <td>{{getCoup.coupon.startDate}}</td>
		        </tr>
		        <tr>
		            <th align="left">Expiry Date: </th>
		            <td>{{getCoup.coupon.endDate}}</td>
		        </tr>
		        <tr>
		            <th align="left">Description: </th>
		            <td>{{getCoup.coupon.message}}</td>
		        </tr>
		    </table>
	
		    <button ng-click="getCoup.showEdit = true; getCoup.showCoupon = false">EDIT</button>
		    <button ng-click="getCoup.deleteCoupon()">Delete</button></br>
		    <p>{{getCoup.deleteMessage}}</p>
	    </div>
	    <p>{{getCoup.getCouponMessage}}</p>
	</div>
    <div ng-show="getCoup.showEdit">
        <form ng-submit="getCoup.updateCoupon()" style="margin-left:2%; margin-top:2%">
            Title:<br>
            <span style="color:grey" margin="0" padding="0">{{getCoup.coupon.title}}</span><br>
            Coupon Type:<br>
            <span style="color:grey" margin="0">{{getCoup.coupon.type}}</span><br>
            Price:<br>
            <input type="number" step="0.01" min="0" ng-model="getCoup.coupon.price" required><br>
            Amount:<br>
            <input type="number" min="0" ng-model="getCoup.coupon.amount" required><br>
            Start Date:<br>
            <input type="date" ng-model="getCoup.coupon.startDateRaw" required><br>
            Expiry Date:<br>
            <input type="date" ng-model="getCoup.coupon.endDateRaw" required><br>
            Message:<br>
            <input type="text" ng-model="getCoup.coupon.message"><br>
            Image:<br>
            <input type="text" ng-model="getCoup.coupon.image"><br>
            <br>
            <input type="submit" value="Update"></br>
            <p>{{getCoup.editMessage}}</p>
            
        </form>
    </div>
</div>